.wrapper__contain
{
    background-color: transparent;
    width: 90%;
    height: 84vh;
    margin: 8vh 4%;
    padding: 5px ;
    overflow: hidden;
}
.wrapper__contain .ant-card-body {
    padding: 0 0 0 0;
}
.coverLeft .text__cover{
    margin-left: 5vh;
    padding-top:  2vh ;
    height: 100%;
}
.coverLeft .img__cover img{
   width: 100%;
   height : 67vh; 
}
.coverRight .ant-tabs-ink-bar {
    height: 5px;
    background: #bbb;
    color: #282C34;
    overflow: auto;
  }
.coverLeft{
    background-color: #282C34;
    padding-bottom: 10px;
    color: #61DAFB;
    justify-content: space-between;
    font-size: 18pt;
    width: 100%;
}
.coverRight{
    color : white;
    /* background-color: #eee; */
    overflow-y: scroll;
    height: 76vh;
    font-family: 'Roboto', sans-serif;
    /* padding: 0 40px 0 0; */
   
}
.coverRight .ant-tabs .ant-tabs-tab-btn{
    /* color : white; */

}
.coverRight .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color:  #282C34 !important;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.coverRight .ant-tabs .ant-tabs-tab-active {
    background-color:  #61DAFB  ;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 32px 0 0;
    padding: 12px 30px 0 0 ;
    font-size: 14px;
    border: 0;
    color:  #282C34 !important;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.coverRight .ant-tabs .ant-tabs-tab {
    color:  #61DAFB  ;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 32px 0 0;
    padding: 10px 30px;
    font-size: 14px;
    border: 0;
    /* color:  #282C34 !important; */
    outline: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.coverRight 
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-more {
    position: relative;
    padding: 8px 16px;
    background: #aee6f6;
    border: 0;
}
.coverRight .ant-tabs{
    width: 100%;
}
.coverRight .ant-tabs  .ant-tabs-nav .ant-tabs-nav-wrap {
background-color: #282C34 ;
width: 100%;
}
.welcome__ .ant-btn-background-ghost.ant-btn-primary {
    color: #282C34;
    background: transparent;
    border-color: #282C34;
    text-shadow: none;
}
.wrape{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    /* background-size: cover; */
    /* overflow-x: unset; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  
}
.welcome__{
    padding: 40px;
    overflow: auto;
}
.welcome__ .btn__cv{
    text-align: center;
}
.welcome__ h3 {
    /* margin: auto; */
    font-size: 24pt;
    font-family: 'Merriweather', serif;
    color : #282c34;
    text-align: center;
    text-transform: uppercase;

}
.welcome__ h4 {
    /* margin: auto; */
    font-size: 18pt;
    font-family: 'Merriweather', serif;
    color : #282c34;
    text-align: center;
    /* text-transform: uppercase; */

}
.welcome__  .desc__ {
    /* margin: auto; */
    font-size: 12pt;
    font-style: italic;
    font-family: 'Merriweather', serif;
    color : #282c34;
    text-align: center;
    /* text-transform: uppercase; */

}
.welcome__  p {
    /* margin: auto; */
  
    font-family: 'Roboto', sans-serif;
    color : #282c34;
    text-align: center;
   
    /* text-transform: uppercase; */

}
.about__ {
    /* padding : 0 100px 0 100px; */
    font-size: 12pt;
    width: 100%;
    /* background-color: red; */
}
.about__ .boxName {
    display: block;
    margin: 0 auto;
    padding: 15px 15%;

}
.about__ .title {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    /* font-weight: 600; */
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
} 
.about__ .boxEducation{
    /* display: block; */
    /* justify-content: start;
    margin: 0 100px 0 100px;
    padding: 30px 0.3%; */

    background-color: #eeee;
}
@media screen and (max-width: 720px){
    .wrape{
        overflow: visible;
    }
    .wrapper__contain
    {
        background-color: transparent;
        width: 95%;
        height: 84vh;
        margin: 0vh 0.5%;
        /* padding: 5px ; */
        overflow: visible;
    }
    .coverRight{
        overflow: scroll;
    }
    .about__ {
        padding : 100px;
        font-size: 12pt;
    }
    .about__ .boxName {
        display: block;
        margin: 0 auto;
        padding: 0px 0.3%;
    
    }

}
@media screen and (max-width: 900px){
    .wrape{
        overflow: auto;
        width: 100%;
        height: 100%;
        background-color: none;
    }
    .wrapper__contain
    {
        background-color: transparent;
        width: 95%;
        height: 84vh;
        margin: 0vh 0.5%;
        /* padding: 5px ; */
        overflow: visible;
    }
    .coverRight{
        overflow: scroll;
    }
    .about__ {
        padding : 0;
        font-size: 12pt;
    }
    .about__ .boxName {
        display: block;
        margin: 0 auto;
        padding: 1px 3%;
    
    }
    .coverLeft .img__cover img{
        width: 100%;
        height: 60%;  
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #282c34; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #282c34; 
  }

  

